<a href="https://colab.research.google.com/github/Kindaja/Prediction-of-Products-Sales/blob/main/Another_copy_of_Prediction_of_product_sales_Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Prediction of product sales**
- ***Author: Wael Aboudi***

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## **Project-1 Overview**

***The first project will be a sales prediction for food items sold at various stores. The goal of this is to help the retailer understand the properties of products and outlets that play crucial roles in increasing sales.***

- Insert code below the heading "Loading Data"
 - Use Pandas to read the sales prediction data set into Google Colab.
 - Use df.info() and df.head() methods to preview the first rows of your data and a summary of your DataFrame's columns.
- Insert code below the heading "Data Cleaning"
 - Explore the data - what do you need to do to clean this data? Clean it!
 - Be sure to address each of the following tasks:

1) How many rows and columns?
- Answer: 8523 rows and 12 columns

2) What are the datatypes of each variable?
- Answer:
 -  0   Item_Identifier            8523 non-null   object
  - 1   Item_Weight                7060 non-null   float64
  - 2   Item_Fat_Content           8523 non-null   object
  - 3   Item_Visibility            8523 non-null   float64
  - 4   Item_Type                  8523 non-null   object
  - 5   Item_MRP                   8523 non-null   float64
  - 6   Outlet_Identifier          8523 non-null   object
  - 7   Outlet_Establishment_Year  8523 non-null   int64  
  - 8   Outlet_Size                6113 non-null   object
  - 9   Outlet_Location_Type       8523 non-null   object
  - 10  Outlet_Type                8523 non-null   object
  - 11  Item_Outlet_Sales          8523 non-null   float64

3) Are there duplicates? If so, drop any duplicates.
- Answer: we don't have any duplicates to drop
4) Identify missing values.
- Answer: we have missing values in Item_Weight and Outlet_Size
5) Address the missing values by using a placeholder value.
- Answer: we used '-1','MISSING' placeholder values

6) Confirm that there are no missing values after addressing them.
- Answer:Confirmed

7) Find and fix any inconsistent categories of data (for example: fix cat, Cat, and cats so that they are consistent).
- Answer: found and fixed inconsistent values in Item_Fat_Content

8) For any numerical columns, obtain the summary statistics of each (min, max, mean).
- Answer: Done

## **Load and inspect data**

In [4]:
from google.colab import drive
drive.mount('/content/drive')
fpath='/content/drive/MyDrive/CodingDojo/01-Fundamentals/Week02/Data/sales_predictions_2023.csv'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import pandas as pd
import numpy as np
import missingno as msno

In [6]:
df=pd.read_csv(fpath)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

- It is clear that we have missing vakues in the columns "Item_Weight" and "Outlet_Size".

## **Clean Data**

In [19]:
df.duplicated().sum()

0

***No duplicate values found***

In [25]:
itm_weight_null=df['Item_Weight'].isna()
df[itm_weight_null]
df['Item_Weight']=df['Item_Weight'].fillna('-1')
df['Item_Weight'].value_counts()

Item_Weight
-1       1463
12.15      86
17.6       82
13.65      77
11.8       76
         ...
7.275       2
7.685       1
9.42        1
6.52        1
5.4         1
Name: count, Length: 416, dtype: int64

In [24]:
outlet_size_null=df['Outlet_Size'].isna()
df[outlet_size_null]
df['Outlet_Size']=df['Outlet_Size'].fillna('MISSING')
df['Outlet_Size'].value_counts()

Outlet_Size
Medium     2793
MISSING    2410
Small      2388
High        932
Name: count, dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                8523 non-null   object
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                8523 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(3), int64(1), object(8)
memory usage: 799.2+ KB

In [28]:
df.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

 - NO missing values now.

In [12]:
df[df['Item_Visibility']==0.000000]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
3,FDX07,19.2,Regular,0.0,Fruits and Vegetables,182.0950,OUT010,1998,MISSING,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.0,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.0,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
10,FDY07,11.8,Low Fat,0.0,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
32,FDP33,18.7,Low Fat,0.0,Snack Foods,256.6672,OUT018,2009,Medium,Tier 3,Supermarket Type2,3068.0064
...,...,...,...,...,...,...,...,...,...,...,...,...
8480,FDQ58,-1,Low Fat,0.0,Snack Foods,154.5340,OUT019,1985,Small,Tier 1,Grocery Store,459.4020
8484,DRJ49,6.865,Low Fat,0.0,Soft Drinks,129.9652,OUT013,1987,High,Tier 3,Supermarket Type1,2324.9736
8486,FDR20,20.0,Regular,0.0,Fruits and Vegetables,46.4744,OUT010,1998,MISSING,Tier 3,Grocery Store,45.2744
8494,NCI54,15.2,Low Fat,0.0,Household,110.4912,OUT017,2007,MISSING,Tier 2,Supermarket Type1,1637.8680
8500,NCQ42,20.35,Low Fat,0.0,Household,125.1678,OUT017,2007,MISSING,Tier 2,Supermarket Type1,1907.5170

In [13]:
df['Item_Fat_Content'].value_counts()
replace_dic={'LF':'Low Fat','low fat':'Low Fat','reg':'Regular'}
df['Item_Fat_Content']=df['Item_Fat_Content'].replace(replace_dic)
df['Item_Fat_Content'].value_counts()

Item_Fat_Content
Low Fat    5517
Regular    3006
Name: count, dtype: int64

 - Data is consistent now.

In [31]:
num_cols= df.select_dtypes(include=np.number)
num_cols.columns

Index(['Item_Visibility', 'Item_MRP', 'Outlet_Establishment_Year',
       'Item_Outlet_Sales'],
      dtype='object')

In [32]:
for col in num_cols.columns:
  print(f"{col} max is: {df[col].max()}\n min is: {df[col].min()}\n mean is: {df[col].mean()}\n median is: {df[col].median()}\n")

Item_Visibility max is: 0.328390948
 min is: 0.0
 mean is: 0.06613202877895108
 median is: 0.053930934

Item_MRP max is: 266.8884
 min is: 31.29
 mean is: 140.9927819781767
 median is: 143.0128

Outlet_Establishment_Year max is: 2009.0
 min is: 1985.0
 mean is: 1997.8318667135984
 median is: 1999.0

Item_Outlet_Sales max is: 13086.9648
 min is: 33.29
 mean is: 2181.288913575032
 median is: 1794.331

## **Exploratory Data Analysis**

## **Feature Inspection**